<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="check">
  <test thread-count="5" name="testXML">
    <classes>
      <class name="com.pyxispm.PyxisPerformanceAPI.check"/>
    </classes>
  </test> <!-- testXML -->
</suite> <!-- check -->
